# Type Casting (Data Type Conversion)

* Convert one data type to other
* Only one argument allowed

## Int

* Type casting from other data type to int is possible except for complex and str (in text format) 
* Only one argument can be passed

In [1]:
int(3.4)  # float to int

3

In [2]:
int(True)  # bool to int

1

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [3]:
int(4 + 7j) # cannot convert complex to int

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [4]:
int('96')  # str (num) to int

96

ValueError: invalid literal for int()

In [5]:
int("five") # # cannot convert str (text) to int

ValueError: invalid literal for int() with base 10: 'five'

## Float

* Type casting from other data type to float is possible except for complex and str (in text format)
* Only one argument allowed

In [6]:
float(25)   # int to float

25.0

In [7]:
print(float(True))    # Bool to float
print(float(False))

1.0
0.0

In [8]:
float(2, 5) # cannot pass 2 arguments

TypeError: float expected at most 1 argument, got 2

In [9]:
float("230") # str (num) to float

230.0

ValueError: could not convert string to float

In [10]:
float('six') # cannot convert str (text) to float

ValueError: could not convert string to float: 'six'

In [11]:
float(3 + 9j)

TypeError: float() argument must be a string or a real number, not 'complex'

## Complex

* Type casting from other data type to complex is possible except  str (in text format)
* Can pass 2 arguments except string

In [12]:
complex(6)    # int to complex

(6+0j)

In [13]:
complex(3, 8) # We can pass 2 arguments

(3+8j)

In [14]:
complex(7.8) # float to complex

(7.8+0j)

In [15]:
complex(9.4, 2)

(9.4+2j)

In [16]:
complex(True, False)

(1+0j)

In [17]:
complex(False, True)

1j

In [18]:
complex('10')

(10+0j)

In [19]:
complex('3', '7')  # Cannot pass 2 string arguments

TypeError: complex() can't take second arg if first is a string

In [20]:
complex('five') # # cannot convert str (text) to complex

ValueError: complex() arg is a malformed string

# Str

* Type casting from all other data type to string is possible
* Cannot pass 2 arguments

In [21]:
str(12)   # int to str

'12'

In [22]:
str(12, 3)   # cannot pass 2 arguments

TypeError: str() argument 'encoding' must be str, not int

In [23]:
str(7.89) # float to str

'7.89'

In [24]:
str(True)  # bool to str

'True'

In [25]:
str(3 + 15j) # complex to str

'(3+15j)'