In [1]:
l = [10, 7.8, 'nit', True]

keep curser on append word and press Shift + Tab to get info syntax

In [2]:
l.append('Hello')
print(l)

[10, 7.8, 'nit', True, 'Hello']

In [3]:
l.pop()
l

[10, 7.8, 'nit', True]

In [4]:
l.append('adda', 23)    # append can oly add one argument at a time

TypeError: list.append() takes exactly one argument (2 given)

In [5]:
l.insert('ad', 23)    # To insert we should index first and argument next

TypeError: 'str' object cannot be interpreted as an integer

In [6]:
l.insert(5, 23)
l

[10, 7.8, 'nit', True, 23]

In [7]:
l.insert(1, 'keka')
l

[10, 'keka', 7.8, 'nit', True, 23]

In [8]:
l.insert(7, 2 + 3j)
l

[10, 'keka', 7.8, 'nit', True, 23, (2+3j)]

In [9]:
l.index('keka')    # .index() ---> provides index of argument

1

In [10]:
l1 = []
l1

[]

In [11]:
l1 = l.copy()
l1

[10, 'keka', 7.8, 'nit', True, 23, (2+3j)]

In [12]:
l1 == l

True

In [13]:
l1 != l

False

In [14]:
l2 = [25, 'guy', [50, 100], True]
l2

[25, 'guy', [50, 100], True]

In [15]:
l1 == l2

False

In [16]:
l1 != l2

True

In [17]:
print(len(l1))
print(len(l2))

7
4

In [18]:
print(id(l))                # in list id of same argument list is different
print(id(l1))
print(id(l2))

2677033565120
2677061915776
2677061919936

In [19]:
print(l)
print(len(l))

print(l1)
print(len(l1))

print(l2)
print(len(l2))

[10, 'keka', 7.8, 'nit', True, 23, (2+3j)]
7
[10, 'keka', 7.8, 'nit', True, 23, (2+3j)]
7
[25, 'guy', [50, 100], True]
4

In [20]:
l2[4] = {2, 3, 4}

IndexError: list assignment index out of range

In [21]:
l2.insert(4, {2, 3, 4})         # List is growable
l2

[25, 'guy', [50, 100], True, {2, 3, 4}]

In [22]:
l2.add(5)

AttributeError: 'list' object has no attribute 'add'

In [23]:
l.reverse
print(l)

[10, 'keka', 7.8, 'nit', True, 23, (2+3j)]

In [24]:
l_1 = [10, 'keka', 7.8, 'nit', True, 'Hello', 23, (2+3j)]

print(l_1[3][0])
print(l_1[3][1])
print(l_1[3][2])

n
i
t