# Data Types

- int
- float
- bool
- complex
- str

## Integer (int) 
int - Numberical value without decimal

In [1]:
a = 34
print(a)
print(type(a))

34
<class 'int'>

Integer can be represented in different forms

binary (0b) | octal (0o) | decimal | hexadecimal

Ex: 0b11    | Ex: 0o17

## Binary Integer  (0b)

* It contain only 0 & 1's 
* binary is always int
* We cannot convert float type into binary
* Any other number (2,3,4...) returns SyntaxError: invalid digit in binary litera

In [2]:
m = 0b101
print(m)

type(m)

5

int

In [3]:
print(0b1101)

13

### How binary works

0b1101
= 1101
= 1x2^3 + 1x2^2 + 0x2^1 + 1x2^0
= 1x8   + 1x4   + 0x2   + 1x1
= 8 + 4 + 0 + 1
= 13

In [4]:
bin(17)  # bin() ---> Converts integers into binary numbers

'0b10001'

In [5]:
bin(15.0)  # float cannot be converted into binary

TypeError: 'float' object cannot be interpreted as an integer

SyntaxError: invalid digit in binary litera

In [6]:
print(0b32)

SyntaxError: invalid digit '3' in binary literal (2246023809.py, line 1)

## Octal Integer (0o)

* Octal contains 0,1,2,3,4,5,6,7 in it
* Octal is always int
* We cannot convert float type into octal
* Any other number (8,9,10...) returns SyntaxError: invalid digit in octal litera

In [7]:
l = 0o110
print(l)

type(l)

72

int

In [8]:
print(0o371)

249

### How octal works

0o371
= 371
= 3x8^2 + 7x8^1 + 1x8^0
= 3x64  + 7x8   + 1x1
= 192   + 56    + 1
= 249

In [9]:
oct(78)   # oct() ---> Converts integers into octal numbers

'0o116'

In [10]:
oct(84.5)  # float cannot be converted into octal

TypeError: 'float' object cannot be interpreted as an integer

SyntaxError: invalid digit in octal litera

In [11]:
print(0o89)

SyntaxError: invalid digit '8' in octal literal (114742128.py, line 1)

## Float

float - Numerical value with decimal

In [12]:
b = 8.4
print(b)

print(type(b))

8.4
<class 'float'>

SyntaxError: invalid syntax

In [13]:
print(0o207.9) # float is not allowed in bin & oct

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3587412905.py, line 1)

int - value without decimal
            supports binary integral | octal integral

float - value with decimal
              doesnot support binary | octal

# Complex

Syntax - a + bj       

a is real part | B is imaginary part | j is sqrt -1

* We cannot use any other alphabet other than j in complex

In [14]:
k = 7 + 4j
print(k)

type(k)

(7+4j)

complex

In [15]:
x = 5 + 2j
y = 8 + 3j

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x ** y)

(13+5j)
(-3-1j)
(34+31j)
(0.6301369863013698+0.0136986301369863j)
(-53909.40752534429+219330.48008989022j)

In [16]:
print(x.real)     # gives real part of complex number
print(x.imag)     # gives imag part of complex number

5.0
2.0

# Boolean (Bool)

* Boolean means **True** & **False**
* Int values of True - 1  and False - 0

In [17]:
n = True 
print(n)

print(type(n))

True
<class 'bool'>

In [18]:
int(False)    # int() --- It shows int value of other data type

0

In [19]:
print(True + False)
print(True - True)
print(True * True)
print(False / True)
print(False // True)
print(False ** True)

1
0
1
0.0
0
0

ZeroDivisionError: division by zero

In [20]:
print(True / False)  # we cannot divide 0

ZeroDivisionError: division by zero

## String (str)

User pass text data to cell string datatype

* string always denotes with ' '| " " | ''' ''' | """ """
* Any thing under quotes is string

In [21]:
k = "Hello i am sathvik"   # Single line string
print(k)

print(type(k))

Hello i am sathvik
<class 'str'>

In [22]:


mk = ''' Python is a computer programming language 
often used to build websites and software, automate tasks, 
and conduct data analysis. 
 '''

print(mk)   # Multi line string

 Python is a computer programming language
often used to build websites and software, automate tasks,
and conduct data analysis.

In [23]:
u = '89'          # Any thing under quotes is string
g = "True"  
v = "5 + 2j"

print(type(u))
print(type(g))
print(type(v))

<class 'str'>
<class 'str'>
<class 'str'>